workflows/Store and send information about the weather for any city via SMS.json
{
  "active": false,
  "connections": {
    "Set": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable": {
      "main": [
        [
          {
            "node": "OpenWeatherMap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenWeatherMap": {
      "main": [
        [
          {
            "node": "Twilio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-02-23T14:17:57.917Z",
  "id": "1HTnJRvdlqVKAuPb",
  "meta": {
    "templateId": "738"
  },
  "name": "Store and send information about the weather for any city via SMS",
  "nodes": [
    {
      "parameters": {
        "authentication": "headerAuth",
        "httpMethod": "POST",
        "path": "39f1b81f-f538-4b94-8788-29180d5e4016",
        "options": {
          "rawBody": true
        }
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        380,
        240
      ],
      "webhookId": "39f1b81f-f538-4b94-8788-29180d5e4016",
      "typeVersion": 1,
      "id": "1121f628-3ac9-4493-bc32-5f0a42a6d858"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Name",
              "value": "={{$json[\"body\"][\"name\"]}}"
            },
            {
              "name": "Number",
              "value": "={{$json[\"body\"][\"number\"]}}"
            },
            {
              "name": "City",
              "value": "={{$json[\"body\"][\"city\"]}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "position": [
        580,
        240
      ],
      "typeVersion": 1,
      "id": "8cccf1f1-3aa3-4589-ba82-cd30822148b3"
    },
    {
      "parameters": {
        "operation": "append",
        "application": {
          "__rl": true,
          "mode": "url",
          "value": ""
        },
        "table": "Table 1",
        "options": {}
      },
      "name": "Airtable",
      "type": "n8n-nodes-base.airtable",
      "position": [
        780,
        240
      ],
      "typeVersion": 1,
      "id": "5d411f6f-d09b-4f11-8b61-759ba0e0daf2"
    },
    {
      "parameters": {
        "cityName": "={{$node[\"Webhook\"].json[\"body\"][\"city\"]}}"
      },
      "name": "OpenWeatherMap",
      "type": "n8n-nodes-base.openWeatherMap",
      "position": [
        980,
        240
      ],
      "typeVersion": 1,
      "id": "82afdcea-b539-4ff2-aded-a1c30a8dd6c1"
    },
    {
      "parameters": {
        "to": "={{$node[\"Webhook\"].json[\"body\"][\"number\"]}}",
        "message": "=The weather in {{$json[\"name\"]}}, {{$json[\"sys\"][\"country\"]}} is {{$json[\"main\"][\"temp\"]}} ℃ with {{$json[\"weather\"][0][\"description\"]}}. Humidity is {{$json[\"main\"][\"humidity\"]}} and windspeed is {{$json[\"wind\"][\"speed\"]}}.",
        "options": {}
      },
      "name": "Twilio",
      "type": "n8n-nodes-base.twilio",
      "position": [
        1180,
        240
      ],
      "typeVersion": 1,
      "id": "32242cb6-c1ad-471f-9325-9c3b19c4f472"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-02-23T14:17:57.917Z",
  "versionId": "66f96250-0567-4746-ac09-3393cc9fda4f"
}