workflows/天气api.json
{
  "active": false,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "地区编码查询",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "地区编码查询": {
      "main": [
        [
          {
            "node": "免费天气查询",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-02-23T06:57:42.218Z",
  "id": "nYQGbu9dvczzkzhl",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "天气api",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "3d5d09af-12d6-4519-a212-d438d7287b39",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        820,
        360
      ]
    },
    {
      "parameters": {
        "url": "=https://d1.weather.com.cn/sk_2d/101271104.html?_=\n{{\"\" + $now}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "id": "33a591df-53d1-41b5-a822-e17faacc1c47",
      "name": "中国天气网查询",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1480,
        120
      ]
    },
    {
      "parameters": {
        "url": "https://geoapi.qweather.com/v2/city/lookup?location=%E5%8D%97%E6%BA%AA&key=41e87bd10ea74c61a07774a1f7795e2c",
        "options": {}
      },
      "id": "0e712d99-a9e4-4e46-82fd-327dffb58c65",
      "name": "地区编码查询",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1000,
        360
      ]
    },
    {
      "parameters": {
        "url": "=http://t.weather.itboy.net/api/weather/city/{{ $json.location[0].id }}",
        "options": {}
      },
      "id": "dedb9002-e57e-4e3f-8289-b24e920868de",
      "name": "免费天气查询",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1220,
        360
      ]
    },
    {
      "parameters": {
        "url": "=https://devapi.qweather.com/v7/weather/3d?location=101010100&key=41e87bd10ea74c61a07774a1f7795e2c",
        "options": {}
      },
      "id": "57567678-671c-414d-bf83-00e36a1ed57a",
      "name": "和风天气查询",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1720,
        120
      ],
      "notes": "和风天气查询，个人免费版订阅，每天1000次免费查询"
    },
    {
      "parameters": {
        "url": "=https://restapi.amap.com/v3/weather/weatherInfo?city=511503&key=c1de148c5e162064ab1555016825c177",
        "options": {}
      },
      "id": "df65163d-bc53-4121-a8ba-984194a37422",
      "name": "高德天气查询",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2000,
        180
      ],
      "notes": "和风天气查询，个人免费版订阅，每天1000次免费查询"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-02-23T15:23:50.000Z",
  "versionId": "a8c70cf7-f182-4eaf-91ad-45714026b728"
}