workflows/微信自动化.json
{
  "active": true,
  "connections": {
    "微信Webhook": {
      "main": [
        [
          {
            "node": "处理： 用户名JSON规则化",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "解析:抖音视频": {
      "main": [
        [
          {
            "node": "微信回复：视频链接",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "处理： 用户名JSON规则化": {
      "main": [
        [
          {
            "node": "判断：个人消息",
            "type": "main",
            "index": 0
          },
          {
            "node": "判断：群消息",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "判断：个人消息": {
      "main": [
        [
          {
            "node": "判断:是否有抖音链接",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "Conversational Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Conversational Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "Conversational Agent",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Conversational Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "判断:是否有抖音链接": {
      "main": [
        [
          {
            "node": "提取:抖音分享网址",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI：数据入参处理",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI：数据入参处理": {
      "main": [
        [
          {
            "node": "Conversational Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "提取:抖音分享网址": {
      "main": [
        [
          {
            "node": "解析:抖音视频",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "微信回复：视频链接": {
      "main": [
        [
          {
            "node": "微信回复：视频文件",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "Conversational Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Conversational Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "Conversational Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Conversational Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Conversational Agent": {
      "main": [
        [
          {
            "node": "微信回复:ai回答",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "提取:抖音分享网址1": {
      "main": [
        [
          {
            "node": "解析:抖音视频1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "判断:是否有抖音链接1": {
      "main": [
        [
          {
            "node": "提取:抖音分享网址1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI：数据入参处理1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "微信回复：视频链接1": {
      "main": [
        [
          {
            "node": "微信回复：视频文件1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "解析:抖音视频1": {
      "main": [
        [
          {
            "node": "微信回复：视频链接1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI：数据入参处理1": {
      "main": [
        [
          {
            "node": "Conversational Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "开启指定群消息": {
      "main": [
        [
          {
            "node": "开启被@后回复",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "开启被@后回复": {
      "main": [
        [
          {
            "node": "判断:是否有抖音链接1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "判断：群消息": {
      "main": [
        [
          {
            "node": "开启指定群消息",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Conversational Agent1": {
      "main": [
        [
          {
            "node": "微信回复:ai回答1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "地区编码查询1": {
      "main": [
        [
          {
            "node": "免费天气查询",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tq_Tool": {
      "ai_tool": [
        [
          {
            "node": "Conversational Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Conversational Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "天气工作流": {
      "main": [
        [
          {
            "node": "地区编码查询1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "免费天气查询": {
      "main": [
        [
          {
            "node": "整理内容",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat OpenAI2": {
      "ai_languageModel": [
        [
          {
            "node": "Conversational Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Conversational Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-02-20T12:08:21.717Z",
  "id": "fb5EYnUvIfQLTK7g",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "微信自动化",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "9caaad2c-e190-4f02-bc3a-dc7eb33aaed2",
        "options": {}
      },
      "id": "86b36b18-3a7c-4c16-b8a6-f0c654df37bf",
      "name": "微信Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        1300,
        560
      ],
      "webhookId": "9caaad2c-e190-4f02-bc3a-dc7eb33aaed2"
    },
    {
      "parameters": {
        "url": "=https://api.cooluc.com/?url= {{ $json.body.content }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "user-agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/110.0.0.0 Safari/537.36"
            }
          ]
        },
        "options": {}
      },
      "id": "cd8cdff6-0569-42f2-9c76-f287671e7fe3",
      "name": "解析:抖音视频",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2580,
        100
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "fcd44bb1-80f0-4cbe-839a-11f4e5857fd3",
              "leftValue": "={{ $json.room.payload.topic }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            },
            {
              "id": "7f87d051-521c-4ac5-9a0e-5e3a27fd2f24",
              "leftValue": "={{ $json.body.isSystemEvent }}",
              "rightValue": "=0",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "578fc755-a564-43b3-af32-0a7e1458b113",
      "name": "判断：个人消息",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1740,
        360
      ]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json.body.source }}",
        "options": {}
      },
      "id": "416b46f4-4ad8-4646-85a9-06539bfb2ab9",
      "name": "处理： 用户名JSON规则化",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        1500,
        560
      ]
    },
    {
      "parameters": {
        "options": {
          "gl": "cn",
          "hl": "zh-cn"
        }
      },
      "id": "633b8923-416b-4bcc-9cbf-f9d97ff38551",
      "name": "SerpAPI",
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "position": [
        2780,
        580
      ],
      "typeVersion": 1,
      "credentials": {
        "serpApi": {
          "id": "4bAaYYshjUk98FCT",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "baseURL": "https://api.openai.one/v1"
        }
      },
      "id": "e0f1d267-f126-4706-baca-ebe73914abed",
      "name": "Chat OpenAI",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        2480,
        580
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "Z0zPcRB4TroIt0w7",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionKey": "=chat_history_{{ $json.uid }}"
      },
      "id": "2e1d3b5b-31d7-495c-8288-2f6aef15dc76",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        2620,
        580
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "uid",
              "stringValue": "={{ $json.from.payload.name }}"
            },
            {
              "name": "input",
              "stringValue": "={{ $json.body.content }}"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "id": "87146d5b-bac8-4005-af72-c31c313babc7",
      "name": "AI：数据入参处理",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        2300,
        360
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "b1d0a944-e265-483f-b751-a05d431ad36e",
              "leftValue": "={{ $('微信Webhook').item.json.body.content }}",
              "rightValue": "https://v.douyin.com/\\w{6,11}/",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "f3d8cd4a-d17c-485e-a8e7-7e1faf65c104",
      "name": "判断:是否有抖音链接",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2020,
        100
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "body.content",
              "stringValue": "={{ $json.body.content.extractUrl() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "941994df-2f01-494e-93d4-78b19c02d5d6",
      "name": "提取:抖音分享网址",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        2300,
        100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.2.200:3001/webhook/msg/v2",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"to\":\"{{ $('处理： 用户名JSON规则化').item.json[\"from\"][\"payload\"][\"name\"] }}\",\"data\":{\"content\":\" {{ $('解析:抖音视频').item.json[\"msg\"] }}，视频标题>>> {{ $('解析:抖音视频').item.json[\"desc\"] }}，视频链接>>>{{ $('解析:抖音视频').item.json[\"video\"] }}\"}} ",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "d7710c3a-8570-4452-836c-fd8f368abd59",
      "name": "微信回复：视频链接",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2860,
        100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.2.200:3001/webhook/msg/v2",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"to\":\"{{ $('处理： 用户名JSON规则化').item.json[\"from\"][\"payload\"][\"name\"] }}\",\"data\":{\"type\":\"fileUrl\",\"content\":\"{{ $('解析:抖音视频').item.json[\"video\"] }}\"}} \n\n",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "8fba906b-b631-4595-99fe-d278bfb07ec2",
      "name": "微信回复：视频文件",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3140,
        100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.2.200:3001/webhook/msg/v2",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"to\":\"{{ $('处理： 用户名JSON规则化').item.json[\"from\"][\"payload\"][\"name\"] }}\",\"data\":{\"content\":\" {{ $json[\"output\"] }}\"}}\n\n",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "7cb1954d-3e7b-4cd1-9d3b-4fb52a2931b1",
      "name": "微信回复:ai回答",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3360,
        340
      ]
    },
    {
      "parameters": {},
      "id": "3006e48c-044f-413a-afff-0e7f877fcbb9",
      "name": "Wikipedia",
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "position": [
        2880,
        580
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "81f1e654-07ab-4bd7-ba30-53c497be410f",
      "name": "Calculator",
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        3000,
        580
      ]
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Assistant is a large language model trained by OpenAI.\n\nAssistant is designed to be able to assist with a wide range of tasks, from answering simple questions to providing in-depth explanations and discussions on a wide range of topics. As a language model, Assistant is able to generate human-like text based on the input it receives, allowing it to engage in natural-sounding conversations and provide responses that are coherent and relevant to the topic at hand.\n\nAssistant is constantly learning and improving, and its capabilities are constantly evolving. It is able to process and understand large amounts of text, and can use this knowledge to provide accurate and informative responses to a wide range of questions. Additionally, Assistant is able to generate its own text based on the input it receives, allowing it to engage in discussions and provide explanations and descriptions on a wide range of topics.\n\nOverall, Assistant is a powerful system that can help with a wide range of tasks and provide valuable insights and information on a wide range of topics. Whether you need help with a specific question or just want to have a conversation about a particular topic, Assistant is here to assist.\n最后以中文来对话。"
        }
      },
      "id": "6c2d9f90-cfd6-4607-9e3d-592cd05cb31c",
      "name": "Conversational Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        2620,
        360
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "b1d0a944-e265-483f-b751-a05d431ad36e",
              "leftValue": "={{ $('微信Webhook').item.json.body.content }}",
              "rightValue": "https://v.douyin.com/\\w{6,11}/",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "b48c6548-b716-4868-8d81-f6dbff7ba03d",
      "name": "判断:是否有抖音链接1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2020,
        880
      ]
    },
    {
      "parameters": {
        "url": "=https://api.cooluc.com/?url= {{ $json.body.content }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "user-agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/110.0.0.0 Safari/537.36"
            }
          ]
        },
        "options": {}
      },
      "id": "f595c03c-2087-4da3-b63b-93981313c9ba",
      "name": "解析:抖音视频1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2580,
        880
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "body.content",
              "stringValue": "={{ $json.body.content.extractUrl() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "81a11cef-401d-44b8-a6d2-153acc285815",
      "name": "提取:抖音分享网址1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        2300,
        880
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "uid",
              "stringValue": "={{ $json.from.payload.name }}"
            },
            {
              "name": "input",
              "stringValue": "={{ $json.body.content.substring(6) }}"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "id": "cca1ead3-5b4f-462e-810c-872523607297",
      "name": "AI：数据入参处理1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        2300,
        1100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.2.200:3001/webhook/msg/v2",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"to\":\"{{ $('处理： 用户名JSON规则化').item.json[\"room\"][\"payload\"][\"topic\"] }}\",\n\"isRoom\": true,\n\"data\":{\"content\":\" {{ $json[\"msg\"] }}，视频标题>>> {{$json[\"desc\"] }}，视频链接>>>{{$json[\"video\"] }}\"}\n} \n\n",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "b66f25ca-1228-47d2-a699-b7cb6bfb8073",
      "name": "微信回复：视频链接1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2840,
        880
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.2.200:3001/webhook/msg/v2",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"to\":\"{{ $('处理： 用户名JSON规则化').item.json[\"room\"][\"payload\"][\"topic\"] }}\",\"isRoom\": true,\"data\":{\"type\":\"fileUrl\",\"content\":\"{{ $('解析:抖音视频1').item.json[\"video\"] }}\"}} \n\n",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "57c39f1a-4790-4729-a0c8-57e74a4a34e7",
      "name": "微信回复：视频文件1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3140,
        880
      ]
    },
    {
      "parameters": {
        "options": {
          "gl": "cn",
          "hl": "zh-cn"
        }
      },
      "id": "b63b76aa-0bd3-4e2f-a971-da959a36bf65",
      "name": "SerpAPI1",
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "position": [
        2780,
        1340
      ],
      "typeVersion": 1,
      "credentials": {
        "serpApi": {
          "id": "4bAaYYshjUk98FCT",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "baseURL": "https://api.openai.one/v1"
        }
      },
      "id": "573e4a61-194b-48e2-bd77-b24f69d0091b",
      "name": "Chat OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        2480,
        1340
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "Z0zPcRB4TroIt0w7",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionKey": "=chat_history_{{ $json.uid }}"
      },
      "id": "ad7f780f-cf10-4554-91af-dec6a710d23c",
      "name": "Window Buffer Memory1",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        2620,
        1340
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.2.200:3001/webhook/msg/v2",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"to\":\"{{ $('处理： 用户名JSON规则化').item.json[\"room\"][\"payload\"][\"topic\"] }}\",\n\"isRoom\": true,\n\"data\":{\"content\":\"@{{ $('处理： 用户名JSON规则化').item.json[\"from\"][\"payload\"][\"name\"] }} {{ $json[\"output\"] }}\"}\n}\n",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "432b82ba-becf-4c61-bd7c-2e68536d2165",
      "name": "微信回复:ai回答1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3140,
        1100
      ]
    },
    {
      "parameters": {},
      "id": "5c188be8-80fd-4744-a0aa-597f36a6eb72",
      "name": "Wikipedia1",
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "position": [
        2880,
        1340
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "a106de15-6c52-466d-a9b5-d2d0b8956b7f",
      "name": "Calculator1",
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        2980,
        1360
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "fd7ff80d-a72c-48d7-8608-ade6661cad85",
              "leftValue": "={{ $json.room.payload.topic }}",
              "rightValue": "我自己",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "c70714df-680a-455f-aa7b-813b6959ca35",
      "name": "开启指定群消息",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1740,
        1100
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "fd7ff80d-a72c-48d7-8608-ade6661cad85",
              "leftValue": "={{ $json.body.isMentioned }}",
              "rightValue": "1",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "1fb3604d-8df9-48d2-b633-c3370e650255",
      "name": "开启被@后回复",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1740,
        1280
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "8348d7c2-bd0a-4669-8984-26b0e7e8fd75",
              "leftValue": "={{ $json.room.payload.topic }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5b086e0c-cecc-4504-b879-3d0dde8894b8",
      "name": "判断：群消息",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1740,
        880
      ]
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Assistant is a large language model trained by OpenAI.\n\nAssistant is designed to be able to assist with a wide range of tasks, from answering simple questions to providing in-depth explanations and discussions on a wide range of topics. As a language model, Assistant is able to generate human-like text based on the input it receives, allowing it to engage in natural-sounding conversations and provide responses that are coherent and relevant to the topic at hand.\n\nAssistant is constantly learning and improving, and its capabilities are constantly evolving. It is able to process and understand large amounts of text, and can use this knowledge to provide accurate and informative responses to a wide range of questions. Additionally, Assistant is able to generate its own text based on the input it receives, allowing it to engage in discussions and provide explanations and descriptions on a wide range of topics.\n\nOverall, Assistant is a powerful system that can help with a wide range of tasks and provide valuable insights and information on a wide range of topics. Whether you need help with a specific question or just want to have a conversation about a particular topic, Assistant is here to assist.\n最后以中文来对话。"
        }
      },
      "id": "e7a9fd4d-f478-4b10-ad3d-dc589a069f4b",
      "name": "Conversational Agent1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        2620,
        720
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "qun",
              "value": "={\n\"to\":\"1111,ddd\",\n\"isRoom\": \"12222\",\"data\":\"type\":\"333\"\n} \n\n"
            },
            {
              "name": "repo.name",
              "value": "n8n-backups"
            },
            {
              "name": "repo.path",
              "value": "workflows/"
            }
          ]
        },
        "options": {}
      },
      "id": "60863f80-e94e-47bb-a455-b839a6faafec",
      "name": "群变量",
      "type": "n8n-nodes-base.set",
      "position": [
        1760,
        640
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "https://geoapi.qweather.com/v2/city/lookup?location=%E5%8D%97%E6%BA%AA&key=41e87bd10ea74c61a07774a1f7795e2c",
        "options": {}
      },
      "id": "1901748f-1f0e-482a-8349-6628f3e93f07",
      "name": "地区编码查询1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3880,
        100
      ]
    },
    {
      "parameters": {
        "name": "Tq_Tool",
        "description": "调用此工具以获取天气内容。输入应该是一个字符串化的HTTP查询参数，如下所示：“地区名”。“地区名”参数应包含有效的地区名称。可以是市名，可以是区名，可以是县名。",
        "workflowId": "={{ $workflow.id }}",
        "responsePropertyName": "page_content"
      },
      "id": "1b97e210-7768-469d-9897-f1171b4a4c9d",
      "name": "Tq_Tool",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "position": [
        3103,
        576
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "4c4e7992-0496-4421-9753-b6e58551d140",
      "name": "天气工作流",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        3700,
        100
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "=http://t.weather.itboy.net/api/weather/city/{{ $json.location[0].id }}",
        "options": {}
      },
      "id": "a07c3e11-6080-404e-8b7c-dace5f0aeeda",
      "name": "免费天气查询",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        4120,
        100
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "page_content",
              "stringValue": "={{ $json.data }}"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "id": "b4bda66b-e50f-4e72-9333-e43c269635d7",
      "name": "整理内容",
      "type": "n8n-nodes-base.set",
      "position": [
        4340,
        100
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "options": {
          "baseURL": "https://ai.tentech.top/v1"
        }
      },
      "id": "56d6ec50-b2c9-419c-87e6-fc8dc0c6e7fb",
      "name": "Chat OpenAI2",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        2320,
        580
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "ZMrKkLOoC9Llwkiz",
          "name": "OpenAi account 3"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Shanghai",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "saveExecutionProgress": true
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-02-24T18:55:19.000Z",
  "versionId": "7802c68f-0ac4-4381-a6c7-704a22eb57d8"
}